* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

header {
  background-color: #353434; }
  header h1 {
    margin: 0 0 0 50px;
    padding: 20px 0;
    color: #eee; }

main {
  display: flex; }

.user-input-section {
  flex-basis: 500px;
  min-height: 92.1vh;
  background-color: #0475b6; }
  .user-input-section button {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background-color: #353434;
    border: none;
    border-radius: 5px;
    cursor: pointer; }

.user-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px; }
  .user-inputs div {
    margin-bottom: 20px; }
  .user-inputs select, .user-inputs input {
    width: 250px;
    margin-top: 8px;
    padding: 3px; }
  .user-inputs button {
    width: 250px; }

.financial-years {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px; }
  .financial-years h2 {
    margin-top: 0;
    font-weight: 300;
    text-align: center; }
  .financial-years button {
    margin: 30px auto 0;
    width: 220px; }

.select-year-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  text-align: center; }
  .select-year-month select {
    width: 100px;
    margin-top: 8px;
    padding: 3px; }
  .select-year-month .select-financial-year {
    margin: 0 10px;
    position: relative; }
    .select-year-month .select-financial-year i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      color: #353434;
      cursor: pointer; }
  .select-year-month .select-financial-month {
    margin: 0 10px; }

.finance-display-section {
  flex: 1; }
  .finance-display-section .accounts-overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 0 50px; }
    .finance-display-section .accounts-overview .display-date {
      visibility: hidden;
      width: 175px;
      margin-right: 100px;
      margin-left: 50px;
      text-align: center; }
      .finance-display-section .accounts-overview .display-date h2 {
        margin: 0;
        font-size: 1.6em; }
      .finance-display-section .accounts-overview .display-date h2:nth-child(1) {
        font-size: 2.4rem;
        text-transform: capitalize; }
    .finance-display-section .accounts-overview .income, .finance-display-section .accounts-overview .expense, .finance-display-section .accounts-overview .balance {
      width: 250px;
      margin-right: 80px;
      padding: 30px;
      position: relative;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      -webkit-box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78);
      -moz-box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78);
      box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78); }
      .finance-display-section .accounts-overview .income h2, .finance-display-section .accounts-overview .expense h2, .finance-display-section .accounts-overview .balance h2 {
        font-size: 2rem; }
      .finance-display-section .accounts-overview .income p, .finance-display-section .accounts-overview .expense p, .finance-display-section .accounts-overview .balance p {
        width: 100%;
        padding: 8px;
        position: absolute;
        left: 0;
        bottom: -20px;
        border-radius: 0 0 8px 8px;
        text-align: center;
        color: #353433; }

.monthly-breakdown {
  display: flex;
  justify-content: space-around;
  margin: 125px 0; }
  .monthly-breakdown > div {
    width: 600px; }

.income-breakdown > div:nth-child(1), .expense-breakdown > div:nth-child(1) {
  font-weight: bold; }

.income-breakdown > div, .expense-breakdown > div {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .income-breakdown > div p, .income-breakdown > div i, .expense-breakdown > div p, .expense-breakdown > div i {
    flex-basis: 150px;
    text-align: center; }
  .income-breakdown > div p, .expense-breakdown > div p {
    font-size: 1.1rem; }
  .income-breakdown > div p:nth-child(2), .expense-breakdown > div p:nth-child(2) {
    flex: 1; }
  .income-breakdown > div i, .expense-breakdown > div i {
    cursor: pointer; }

.income-breakdown > div:nth-child(even), .expense-breakdown > div:nth-child(even) {
  background-color: #ddd; }

.income-text {
  background-color: #34ff01; }

.expenses-text {
  background-color: #fff241; }

.balance-text {
  background-color: #2cc3ff; }
