* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353434; }
  header h1 {
    margin: 0 0 0 4%;
    padding: 20px 0;
    color: #eee; }
  header button {
    display: none; }

main {
  display: flex; }

.user-input-section {
  min-width: 250px;
  flex-basis: 25%;
  max-width: 500px;
  min-height: 92.1vh;
  background-color: #0475b6; }
  .user-input-section button {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background-color: #353434;
    border: none;
    border-radius: 5px;
    cursor: pointer; }

.user-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  max-width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px; }
  .user-inputs .fa-window-close {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px; }
  .user-inputs .transaction-selector, .user-inputs .amount-user-input, .user-inputs .description-user-input {
    width: 70%;
    max-width: 250px; }
  .user-inputs div {
    margin-bottom: 20px; }
  .user-inputs select, .user-inputs input {
    width: 100%;
    margin-top: 8px;
    padding: 3px; }
  .user-inputs button {
    width: 60%;
    max-width: 250px; }

.financial-years {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 375px;
  margin: 50px auto 40px;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px; }
  .financial-years h2 {
    margin-top: 0;
    font-weight: 300;
    text-align: center; }
  .financial-years button {
    margin: 30px auto 0;
    width: 60%;
    max-width: 250px; }

.select-year-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .select-year-month select {
    width: 100%;
    margin-top: 8px;
    padding: 3px; }
  .select-year-month .select-financial-year {
    margin: 0 10px;
    position: relative; }
    .select-year-month .select-financial-year i {
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 1.2rem;
      color: #353434;
      cursor: pointer; }
  .select-year-month .select-financial-month {
    margin: 0 10px; }

.finance-display-section {
  flex: 1; }
  .finance-display-section .accounts-overview {
    display: flex;
    align-items: center;
    margin: 40px 5px; }
    .finance-display-section .accounts-overview .display-date {
      flex-basis: 3%;
      margin: 0 5%;
      visibility: hidden;
      text-align: center; }
      .finance-display-section .accounts-overview .display-date h2 {
        margin: 0;
        font-size: 1.6em; }
      .finance-display-section .accounts-overview .display-date h2:nth-child(1) {
        font-size: 2.4rem;
        text-transform: capitalize; }
    .finance-display-section .accounts-overview .income, .finance-display-section .accounts-overview .expense, .finance-display-section .accounts-overview .balance {
      flex: 0 0 20%;
      min-width: 20%;
      margin-right: 4%;
      padding: 30px;
      position: relative;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      -webkit-box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78);
      -moz-box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78);
      box-shadow: 6px 4px 28px 5px rgba(166, 166, 166, 0.78); }
      .finance-display-section .accounts-overview .income h2, .finance-display-section .accounts-overview .expense h2, .finance-display-section .accounts-overview .balance h2 {
        font-size: 2rem; }
      .finance-display-section .accounts-overview .income p, .finance-display-section .accounts-overview .expense p, .finance-display-section .accounts-overview .balance p {
        width: 100%;
        padding: 8px;
        position: absolute;
        left: 0;
        bottom: -20px;
        border-radius: 0 0 8px 8px;
        text-align: center;
        color: #353433; }

.monthly-breakdown {
  display: flex;
  justify-content: space-around;
  margin: 125px 0; }
  .monthly-breakdown > div {
    flex-basis: 45%; }

.income-breakdown > div:nth-child(1), .expense-breakdown > div:nth-child(1) {
  font-weight: bold; }

.income-breakdown > div, .expense-breakdown > div {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .income-breakdown > div p, .income-breakdown > div i, .expense-breakdown > div p, .expense-breakdown > div i {
    flex-basis: 150px;
    text-align: center; }
  .income-breakdown > div p, .expense-breakdown > div p {
    font-size: 1.1rem; }
  .income-breakdown > div p:nth-child(2), .expense-breakdown > div p:nth-child(2) {
    flex: 1; }
  .income-breakdown > div i, .expense-breakdown > div i {
    cursor: pointer; }

.income-breakdown > div:nth-child(even), .expense-breakdown > div:nth-child(even) {
  background-color: #ddd; }

.income-text {
  background-color: #34ff01; }

.expenses-text {
  background-color: #fff241; }

.balance-text {
  background-color: #2cc3ff; }

@media screen and (max-width: 1200px) {
  header h1 {
    padding: 10px 0;
    font-size: 1.6rem; }
  .user-inputs {
    min-width: 200px; }
  .financial-years {
    min-width: 200px; }
    .financial-years h2 {
      width: 200px; }
  .select-year-month, .financial-years {
    display: flex;
    flex-direction: column; }
    .select-year-month .select-financial-year, .financial-years .select-financial-year {
      margin-bottom: 15px; }
    .select-year-month .select-financial-year, .select-year-month .select-financial-month, .financial-years .select-financial-year, .financial-years .select-financial-month {
      width: 70%; }
      .select-year-month .select-financial-year i, .select-year-month .select-financial-month i, .financial-years .select-financial-year i, .financial-years .select-financial-month i {
        right: 0; }
  .finance-display-section .accounts-overview .display-date {
    margin: 0 3%; }
    .finance-display-section .accounts-overview .display-date h2 {
      margin: 0;
      font-size: 1.2em; }
    .finance-display-section .accounts-overview .display-date h2:nth-child(1) {
      font-size: 1.4rem;
      text-transform: capitalize; }
  .finance-display-section .accounts-overview .income, .finance-display-section .accounts-overview .expense, .finance-display-section .accounts-overview .balance {
    min-width: 130px; }
    .finance-display-section .accounts-overview .income h2, .finance-display-section .accounts-overview .expense h2, .finance-display-section .accounts-overview .balance h2 {
      font-size: 1.2rem; } }

@media screen and (max-width: 860px) {
  .user-input-section {
    min-width: 175px; }
  .user-inputs {
    min-width: 150px; }
    .user-inputs .select-year-month div, .user-inputs .transaction-selector, .user-inputs .amount-user-input, .user-inputs .description-user-input, .user-inputs .select-financial-year, .user-inputs .select-financial-month {
      width: 100px; }
    .user-inputs label, .user-inputs select, .user-inputs input, .user-inputs button {
      font-size: 0.8rem; }
    .user-inputs select option {
      font-size: 0.8rem; }
    .user-inputs button {
      width: 100px; }
  .financial-years {
    min-width: 150px; }
    .financial-years h2 {
      width: 100%;
      font-size: 1.2rem; }
    .financial-years .select-financial-year, .financial-years .select-financial-month {
      width: 100px; }
    .financial-years label, .financial-years select, .financial-years input, .financial-years button {
      font-size: 0.8rem; }
    .financial-years select option {
      font-size: 0.8rem; }
    .financial-years button {
      width: 100px; }
  .finance-display-section .accounts-overview {
    flex-wrap: wrap;
    justify-content: center;
    min-width: 495px; }
    .finance-display-section .accounts-overview .display-date {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      margin: 0 3% 30px; }
      .finance-display-section .accounts-overview .display-date h2 {
        margin: 0 5px;
        font-size: 1.4em; }
      .finance-display-section .accounts-overview .display-date h2:nth-child(1) {
        font-size: 1.4em;
        text-transform: capitalize; }
    .finance-display-section .accounts-overview .income, .finance-display-section .accounts-overview .expense, .finance-display-section .accounts-overview .balance {
      margin-right: 4%; }
      .finance-display-section .accounts-overview .income h2, .finance-display-section .accounts-overview .expense h2, .finance-display-section .accounts-overview .balance h2 {
        margin: 10px;
        font-size: 1rem; }
      .finance-display-section .accounts-overview .income p, .finance-display-section .accounts-overview .expense p, .finance-display-section .accounts-overview .balance p {
        font-size: 0.8rem; }
    .finance-display-section .accounts-overview .balance {
      margin-right: 1%; }
  .monthly-breakdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px; }
    .monthly-breakdown .income-breakdown {
      margin-bottom: 25px; } }

@media screen and (max-width: 700px) {
  header {
    padding: 0 10px; }
    header h1 {
      margin-left: 1%;
      padding: 10px 0;
      font-size: 1.4rem; }
    header .header-btns {
      width: 210px; }
      header .header-btns button {
        display: inline-block;
        padding: 5px 10px;
        font-size: 0.6rem;
        color: #353434;
        border: none;
        border-radius: 8px;
        cursor: pointer; }
  main {
    flex-wrap: wrap; }
  .user-input-section {
    flex-basis: 100%;
    min-width: 100%;
    min-height: 100%; }
  .user-inputs {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px; }
    .user-inputs .fa-window-close {
      display: block; }
    .user-inputs .select-year-month {
      flex-direction: row; }
      .user-inputs .select-year-month .select-financial-year {
        margin-bottom: 0; }
    .user-inputs .transaction-selector {
      flex-basis: 100%; }
    .user-inputs .amount-user-input, .user-inputs .description-user-input {
      flex-basis: 40%; }
    .user-inputs .amount-user-input {
      margin-right: 15px; }
    .user-inputs button {
      flex-basis: 100%; }
  .financial-years {
    flex-direction: row;
    align-items: center;
    min-width: 90%;
    margin: 15px auto;
    padding: 10px 2px; }
    .financial-years .select-year-month {
      flex-direction: row;
      flex-basis: 40%; }
      .financial-years .select-year-month .select-financial-year {
        width: 60px;
        margin-bottom: 0; }
      .financial-years .select-year-month .select-financial-month {
        width: 100px; }
    .financial-years h2 {
      display: none; }
    .financial-years button {
      flex-basis: 40%;
      margin-top: 0;
      margin-right: 5px; }
    .financial-years #review-year {
      display: none; }
  .finance-display-section .accounts-overview {
    min-width: 320px; }
    .finance-display-section .accounts-overview .income, .finance-display-section .accounts-overview .expense, .finance-display-section .accounts-overview .balance {
      min-width: 90px;
      margin-right: 4%;
      padding: 15px 8px;
      position: relative; }
      .finance-display-section .accounts-overview .income h2, .finance-display-section .accounts-overview .expense h2, .finance-display-section .accounts-overview .balance h2 {
        font-size: 0.8rem; }
      .finance-display-section .accounts-overview .income p, .finance-display-section .accounts-overview .expense p, .finance-display-section .accounts-overview .balance p {
        padding: 4px;
        position: absolute;
        left: 0;
        bottom: -20px;
        font-size: 0.6rem; }
  .monthly-breakdown h2 {
    font-size: 1.2rem; }
  .monthly-breakdown .income-breakdown p, .monthly-breakdown .expense-breakdown p {
    font-size: 1rem;
    flex-basis: 50%; } }

.displayNone {
  display: none; }

.displayFlex {
  display: flex; }
