* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #353434;
  h1 {
    margin: 0 0 0 50px;
    padding: 20px 0;
    color: #eee;
  }
}

main {
  display: flex;
}

.user-input-section {
  min-width: 250px;
  flex-basis: 25%;
  max-width: 500px;
  min-height: 92.1vh;
  background-color: #0475b6;
  button {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background-color: #353434;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.user-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px;
  .transaction-selector, .amount-user-input, .description-user-input {
    width: 70%;
    max-width: 250px;
  }
  div {
    margin-bottom: 20px;
  }
  select, input {
    width: 100%;
    margin-top: 8px;
    padding: 3px;
  }
  button {
    width: 60%;
    max-width: 250px;
  }
}



.financial-years {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px;
  h2 {
    margin-top: 0;
    font-weight: 300;
    text-align: center;
  }
  button {
    margin: 30px auto 0;
    width: 60%;
    max-width: 250px;
  }
}

.select-year-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  select {
    width: 100%;
    margin-top: 8px;
    padding: 3px;
  }
  
  .select-financial-year {
    margin: 0 10px;
    position: relative;
    i {
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 1.2rem;
      color: #353434;
      cursor: pointer;
    }
  }
  .select-financial-month {
    margin: 0 10px;
  }
}

.finance-display-section {
  flex: 1;
  .accounts-overview {
    display: flex;
    align-items: center;
    margin: 40px 5px;
    & > div {
      flex: 0 0 20%;
    }
    .display-date {
      flex-basis: 5%;
      margin: 0 5%;
      visibility: hidden;
      text-align: center;
      h2 {
        margin: 0;
        font-size: 1.6em;
      }
      h2:nth-child(1) {
        font-size: 2.4rem;
        text-transform: capitalize;
      }
    }
    .income, .expense, .balance {
      margin-right: 4%;
      padding: 30px;
      position: relative;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      -webkit-box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      -moz-box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      h2 {
        font-size: 2rem;
      }
      p {
        width: 100%;
        padding: 8px;
        position: absolute;
        left: 0;
        bottom: -20px;
        border-radius: 0 0 8px 8px;
        text-align: center;
        color: #353433;
      }
    }
  }
}

.monthly-breakdown {
  display: flex;
  justify-content: space-around;
  margin: 125px 0;
  & > div {
    flex-basis: 45%;
  }
}

.income-breakdown, .expense-breakdown {
  & > div:nth-child(1) {
    font-weight: bold;
  }
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p, i {
      flex-basis: 150px;
      text-align: center;
    }
    p {
      font-size: 1.1rem;
    }
    p:nth-child(2) {
      flex: 1;
    }
    i {
      cursor: pointer;
    }
  }
  & > div:nth-child(even) {
    background-color: #ddd;
  }
}

.income-text {
  background-color: #34ff01;
}

.expenses-text {
  background-color: #fff241;
}

.balance-text {
  background-color: #2cc3ff;
}

@media screen and (max-width: 1200px) {
  .user-inputs {
    min-width: 200px;
  }
  .financial-years {
    min-width: 200px;
    margin-bottom: 40px;
    h2 {
      width: 200px;
    }
  }
  .select-year-month, .financial-years {
    display: flex;
    flex-direction: column;
    .select-financial-year {
      margin-bottom: 15px;
    }
    .select-financial-year, .select-financial-month {
      width: 70%;
      i {
        right: 0;
      }
    }
  }

  .finance-display-section {
    .accounts-overview {
      .display-date {
        h2 {
          margin: 0;
          font-size: 1.2em;
        }
        h2:nth-child(1) {
          font-size: 1.4rem;
          text-transform: capitalize;
        }
      }
      .income, .expense, .balance {
        h2 {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .finance-display-section {
    .accounts-overview {
      flex-direction: column;
      justify-content: space-around;
      & > div {
        margin-bottom: 30px;
      }
      .display-date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        margin-bottom: 30px;
        h2 {
          margin: 0 5px;
          font-size: 1.4em;
        }
        h2:nth-child(1) {
          font-size: 1.4em;
          text-transform: capitalize;
        }
      }
      .income, .expense, .balance {
        width: 80%;
        margin-right: 0;
        padding: 0;
        font-weight: 600;
        text-align: center;
        border: 1px solid #000;
        border-radius: 8px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        h2 {
          margin: 10px;
          font-size: 1.2rem;
        }
        p {
          bottom: -16px;
          left: 0;
          width: 100px;
          padding: 12px;
          text-align: left;
          border-radius: 8px 0 0 8px;
          z-index: -1;
        }
      }
    }
  }

  .monthly-breakdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    & > div {
      flex-basis: 45%;
    }
    .income-breakdown {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 680px) {
  .finance-display-section {
    .accounts-overview {
      .income, .expense, .balance {
        h2 {
          text-align: right;
        }
        p {
          
        }
      }
    }
  }
  .monthly-breakdown {
    h2 {
      font-size: 1.2rem;
    }
    .income-breakdown, .expense-breakdown {
      p {
        font-size: 1rem;
        flex-basis: 50%;
      }
      & > div:nth-child(1) {
        font-weight: bold;
      }
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  
}