* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  min-height: 7.8vh;
  background-color: #353434;
  h1 {
    margin: 0 0 0 50px;
    padding: 20px 0;
    color: #eee;
  }
}

main {
  display: flex;
  height: 92.2vh;
}

.user-input-section {
  flex-basis: 500px;
  background-color: #0475b6;
  button {
    margin-top: 5px;
    padding: 8px;
    color: #fff;
    background-color: #353434;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.user-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px;
  div {
    margin-bottom: 20px;
  }
  select, input {
    width: 250px;
    margin-top: 8px;
    padding: 3px;
  }
  button {
    width: 250px;
  }
}

.financial-years {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 50px auto 0;
  padding: 40px 0 50px;
  background-color: #fff;
  border-radius: 8px;
  h2 {
    margin-top: 0;
    font-weight: 300;
    text-align: center;
  }
  button {
    margin: 30px auto 0;
    width: 220px;
  }
}

.select-year-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  text-align: center;
  select {
    width: 100px;
    margin-top: 8px;
    padding: 3px;
  }
  
  .select-financial-year {
    margin: 0 10px;
    position: relative;
    i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.2rem;
      color: #353434;
      cursor: pointer;
    }
  }
  .select-financial-month {
    margin: 0 10px;
  }
}

.finance-display-section {
  flex: 1;
  .accounts-overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0 0 50px;
    .display-date {
      visibility: hidden;
      width: 175px;
      margin-right: 100px;
      margin-left: 50px;
      text-align: center;
      h2 {
        margin: 0;
        font-size: 1.6em;
      }
      h2:nth-child(1) {
        font-size: 2.4rem;
        text-transform: capitalize;
      }
    }
    .income, .expense, .balance {
      width: 250px;
      margin-right: 80px;
      padding: 30px;
      position: relative;
      font-weight: 600;
      text-align: center;
      border-radius: 8px;
      -webkit-box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      -moz-box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      box-shadow: 6px 4px 28px 5px rgba(166,166,166,0.78);
      h2 {
        font-size: 2rem;
      }
      p {
        width: 100%;
        padding: 8px;
        position: absolute;
        left: 0;
        bottom: -20px;
        border-radius: 0 0 8px 8px;
        text-align: center;
        color: #353433;
      }
    }
  }
}

.monthly-breakdown {
  display: flex;
  justify-content: space-around;
  margin-top: 125px;
  .transactions-container {
    width: 600px;
    height: 400px;
    & > div:nth-child(1) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #ddd;
      p {
        flex-basis: 150px;
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center;
      }
      p:nth-child(2) {
        flex: 1;
      }
    }
  }
  .income-breakdown, .expense-breakdown {
    & > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      p, i {
        flex-basis: 150px;
        text-align: center;
      }
      p {
        font-size: 1.1rem;
      }
      p:nth-child(2) {
        flex: 1;
      }
      i {
        cursor: pointer;
      }
    }
    & > div:nth-child(even) {
      background-color: #ddd;
    }
  }
}

.income-text {
  background-color: #34ff01;
}

.expenses-text {
  background-color: #fff241;
}

.balance-text {
  background-color: #2cc3ff;
}